<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="lead_page col-lg-12" ng-app="leadPortalModule">
	<div ng-controller="leadsFromAPI">
		<div class="lead_sidebar col-sm-4">
			<!-- <input type="checkbox" checked data-toggle="toggle" name="show_all">Show All</br> -->
			<div class="show_hidden">
				<label class="switch">
					<input type="checkbox" ng-model="user_hidden">
					<div class="slider round"></div>
				</label>
				<p>Show Hidden</p>
			</div>
			<h6 class="ref_heading"> Refine: </h6>
			<hr>
            <h6 class="ref_heading">By Category</h6>
            <ul class="refine">
                <a href="#"><li>CAT Coaching <span class="ref_val">({{}})</span></li></a>
                <a href="#"><li>JEE Coaching <span class="ref_val">({{}})</span></li></a>
                <a href="#"><li>JAVA Coaching <span class="ref_val">({{}})</span></li></a>
                <a href="#"><li class="see_more">[+]See More</li></a>
            </ul>
            <h6 class="ref_heading">By Location</h6>
            <ul class="refine">
                <a href="#"><li>Delhi <span class="ref_val">({{}})</span></li></a>
                <a href="#"><li>Mumbai <span class="ref_val">({{}})</span></li></a>
                <a href="#"><li>Bangalore <span class="ref_val">({{}})</span></li></a>
                <a href="#"><li class="see_more">[+]See More</li></a>
            </ul>
		</div>
		<div class="container col-sm-8">
			<div ng-repeat="card in cards" class="repeated-item">
				<div class="container col-sm-6" id="stamp" ng-if="(user_hidden || !card.isHidden) && (!user_location || card.Location == user_location) && (!user_category || card.Category == user_category)">
					<div class="contents">
						<div class="col-sm-12 bgimg">
							<ul class="card-cont">
								<li><i class="fa fa-user fa-fw" aria-hidden="true"></i>{{card.Name}}</li>
								<li><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>{{card.Location}}</li>
								<li><i class="fa fa-tag fa-fw" aria-hidden="true"></i>{{card.Category}}</li>
							</ul>
						</div>
					</div>
					<div class="content col-sm-12">
						<h6>Asks</h6>
						<p>{{card.Query}}</p>
						<div class="hide_lead" ng-if="!card.isHidden">
							<button type="submit" class="btn btn-danger" ng-click="toggle_card_hidden(card)">
								<i class="fa fa-eye-slash fa-fw"></i> Hide
							</button>
						</div>
						<div class="hide_lead"  ng-if="card.isHidden">
							<button type="submit" class="btn btn-warning" ng-click="toggle_card_hidden(card)">
								<i class="fa fa-eye fa-fw"></i> Show
							</button>
						</div>
						<div class="unlock">
							<button type="submit" class="btn btn-success">
								<i class="fa fa-unlock-alt fa" aria-hidden="true">
									Unlock</i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>