/* Angular Animations */
/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
	transition: all 1.0s linear;
	opacity: 0;
	height: 75%;
	width: 75%;
	background-color: transparent;
	top: -200px;
	left: 200px;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
	opacity: 1;
	background-color: lightblue;
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
	animation: 0.5s my_animation;
}

@keyframes my_animation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.animate-enter,
.animate-leave {
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
	opacity: 1;
	top: 0;
	height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	top: -50px;
	height: 0px;
}